rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Files uploaded from app modules: clients/* and projects/*
    match /{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.resource.size < 20 * 1024 * 1024;
    }
  }
}
